<footer class="bg-slate-400 text-white p-5 text-center">
  <div class="container">
    <h2 class="text-3xl text-center text-blue-900">
      {{ "footer.GetTheFreshCartApp" | translate }}
    </h2>
    <p class="text-teal-950 my-2">
      {{ "footer.WeWillSendYou" | translate }}
    </p>

    <!-- inputs design  -->
    <div class="flex items-center lg:justify-center text-nowrap mb-3">
      <input
        type="email"
        class="text-indigo-950 rounded border-1 shadow text-sm w-3/5 lg:w-1/3"
        placeholder="Email"
      />
      <button class="text-blue-800 ms-auto lg:ms-10 hover:text-purple-950">
        {{ "footer.ShareAppLink" | translate }}
      </button>
    </div>

    <hr />

    <!-- footer payment Details Design  -->
    <div class="pay-details md:flex justify-around items-center mt-3">
      <div class="flex items-center gap-2">
        <h3 class="text-sky-800 text-md">
          {{ "footer.PaymentPartners" | translate }}
        </h3>
        <img
          src="../../../../assets/images/amazon-pay.png"
          class="w-[50px]"
          alt=""
        />
        <img
          src="../../../../assets/images/American-Express-Color.png"
          class="w-[50px]"
          alt=""
        />
        <img
          src="../../../../assets/images/paypal.png"
          class="w-[50px]"
          alt=""
        />
        <img
          src="../../../../assets/images/mastercard.webp"
          class="w-[50px]"
          alt=""
        />
      </div>

      <div class="flex items-center gap-2 sm:mt-2 md:mt-0">
        <h3 class="text-sky-800">
          {{ "footer.GetDeliverieswithFreshCart" | translate }}
        </h3>
        <img
          src="../../../../assets/images/get-google-play.png"
          class="w-[75px]"
          alt=""
        />
        <img
          src="../../../../assets/images/get-apple-store.png"
          class="w-[75px]"
          alt=""
        />
      </div>
    </div>
  </div>
</footer>
