<section
  class="mx-5 md:w-1/2 md:mx-auto p-4 bg-gray-100 rounded-md shadow dark:bg-slate-600"
>
  <div>
    <h2
      class="text-center text-2xl my-4 text-teal-700 font-medium dark:text-green-400"
    >
      {{ "register.RegisterNow" | translate }}
    </h2>
    @if (errorMsg) {
    <p class="text-red-600 text-center font-semibold mb-3">
      {{ errorMsg }}
    </p>
    } @if (successMsg) {
    <p class="text-green-600 text-center font-semibold mb-3">
      {{ successMsg }}
    </p>
    }
    <form action="" [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <div class="mb-1">
        @let nameControl = registerForm.get('name');
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ "register.name" | translate }}</label
        >
        <input
          formControlName="name"
          type="text"
          id="name"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (nameControl?.errors && nameControl?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (nameControl?.getError('required')) {
              <li>{{ "register.UserNameIsRequired" | translate }}</li>
              } @else if (nameControl?.getError('minlength')) {

              <li>{{ "register.AtLeastCharacters" | translate }}</li>
              } @else if (nameControl?.getError('maxlength')) {

              <li>{{ "register.YouCanNotAddMoreCharacters" | translate }}</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-1">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ "login.email" | translate }}</label
        >
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (registerForm.get('email')?.errors &&
        registerForm.get('email')?.touched ) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (registerForm.get('email')?.getError('required')) {

              <li>{{ "login.emailIsRequired" | translate }}</li>
              }@else if (registerForm.get('email')?.getError('email')) {

              <li>{{ "login.invalidEmail" | translate }}</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-1">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ "login.password" | translate }}</label
        >
        <input
          formControlName="password"
          type="password"
          id="password"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (registerForm.get('password')?.getError('required')) {

              <li>{{ "login.passwordIsRequired" | translate }}</li>
              }@else if (registerForm.get('password')?.getError('pattern')) {

              <li>
                {{ "login.invalidPass" | translate }}
              </li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-1">
        <label
          for="repassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ "register.repassword" | translate }}</label
        >
        <input
          formControlName="rePassword"
          type="password"
          id="repassword"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        @if (registerForm.getError('mismatch') &&
        registerForm.get('rePassword')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              <li>
                {{ "register.passwordConfirmationIsIncorrect" | translate }}
              </li>
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-1">
        <label
          for="phone"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ "register.phone" | translate }}</label
        >
        <input
          formControlName="phone"
          type="tel"
          id="phone"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (registerForm.get('phone')?.errors &&
        registerForm.get('phone')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (registerForm.get('phone')?.getError('required')) {

              <li>{{ "register.phoneIsRequired" | translate }}</li>
              }@else if (registerForm.get('phone')?.getError('pattern')) {

              <li>{{ "register.invalidPhone" | translate }}</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <button
        [disabled]="isLoading"
        class="bg-green-600 text-white px-12 py-2 mt-3 border rounded hover:bg-green-800 disabled:bg-gray-600"
      >
        {{ "register.SignUp" | translate }} @if (isLoading) {
        <span> <i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </form>
  </div>
</section>
