<section class="mx-5 md:w-1/2 md:mx-auto">
  <h1 class="text-center text-xl italic font-semibold mb-9 dark:text-green-300">
    {{ "forgetPassword.ForgetPassword" | translate }}
  </h1>

  @if (step===1) {
  <form
    action=""
    [formGroup]="verifyUserEmail"
    (ngSubmit)="emailVerification()"
  >
    <div class="mb-1">
      <label
        for="email"
        class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-100"
        >{{ "forgetPassword.EnterYourEmail" | translate }}</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (verifyUserEmail.get('email')?.errors &&
      verifyUserEmail.get('email')?.touched ) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyUserEmail.get('email')?.getError('required')) {

            <li>{{ "login.emailIsRequired" | translate }}</li>
            }@else if (verifyUserEmail.get('email')?.getError('email')) {

            <li>{{ "login.invalidEmail" | translate }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <button
      [disabled]="verifyUserEmail.invalid"
      class="bg-green-600 text-white px-12 py-2 mt-1 mx-auto block border rounded hover:bg-green-800 disabled:bg-gray-600"
      routerLink="/signup"
    >
      {{ "forgetPassword.VerifyEmail" | translate }}
    </button>
  </form>
  }@else if (step===2) {
  <form action="" [formGroup]="verifyCode" (ngSubmit)="codeVerification()">
    <div class="mb-1">
      <label
        for="resetCode"
        class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-100"
        >{{ "forgetPassword.EnterCodeSentToYourEmail" | translate }}</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (verifyCode.get('resetCode')?.errors &&
      verifyCode.get('resetCode')?.touched ) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyCode.get('resetCode')?.getError('required')) {

            <li>{{ "forgetPassword.resetCodeIsRequired" | translate }}</li>
            }@else if (verifyCode.get('resetCode')?.getError('pattern')) {

            <li>{{ "forgetPassword.invalidResetCode" | translate }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <button
      [disabled]="verifyCode.invalid"
      class="bg-green-600 text-white px-12 py-2 mt-1 mx-auto block border rounded hover:bg-green-800 disabled:bg-gray-600"
      routerLink="/signup"
    >
      {{ "forgetPassword.VerifyCode" | translate }}
    </button>
  </form>
  }@else if (step===3) {
  <form action="" [formGroup]="resetPass" (ngSubmit)="resetPasswordSubmit()">
    <div class="mb-1">
      <label
        for="email"
        class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-100"
        >{{ "forgetPassword.EnterYourEmail" | translate }}</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (resetPass.get('email')?.errors && resetPass.get('email')?.touched ) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetPass.get('email')?.getError('required')) {

            <li>{{ "login.emailIsRequired" | translate }}</li>
            }@else if (resetPass.get('email')?.getError('email')) {

            <li>{{ "login.invalidEmail" | translate }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      <label
        for="newPassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "forgetPassword.NewPassword" | translate }}</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (resetPass.get('newPassword')?.errors &&
      resetPass.get('newPassword')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetPass.get('password')?.getError('required')) {

            <li>{{ "forgetPassword.NewPasswordIsRequired" | translate }}</li>
            }@else if (resetPass.get('password')?.getError('pattern')) {

            <li>
              {{ "login.invalidPass" | translate }}
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <button
      [disabled]="resetPass.invalid"
      class="bg-green-600 text-white px-12 py-2 mt-1 mx-auto block border rounded hover:bg-green-800 disabled:bg-gray-600"
      routerLink="/signup"
    >
      {{ "forgetPassword.ResetPassword" | translate }}
    </button>
  </form>
  }
</section>
